:root {
    --white: #fff;
    --mettwurst: #DD7364;
    --orchid: #76CCE1;
    --lightsalmon: #0dcaf017;
    --cylindrical-transparent: #74699914;
    --cyan: #008A87;
    --denim: #689dcb;
    --yellow: #FFEA00;
    --dark-yellow: #efe144;
    --cylindrical: #746999;
    --gray: #2b2b2b;
    --gray38: #616161;
    --dark-gray: #a4a4a4;
    --dim-gray: #737373;
    --light-gray: #c9c9c9;
    --medium-gray: #404040;
    --black-magic: #000;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
}
