/*header*/
.bg-header {
    background-color: var(--mettwurst);
}
.row-position {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Thin", serif;
    font-size: 52px;
    color: var(--bs-body-bg);
    text-transform: uppercase;
}
.img-style {
    width: 220px;
}

/*form-search*/
.form-center {
    padding: 2rem 0;
}
.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: none;
}
input[type="text"] {
    width: 50%;
    border: 1px solid var(--cylindrical);
    border-radius: 4px 0 0 4px;
    background-color: var(--cylindrical-transparent);
    color: var(--gray);
    padding: 5px 10px 5px 15px;
}
input[type="text"]:focus {
    outline: 1px solid var(--cylindrical);
}
.button-submit {
    background-color: var(--cylindrical);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 6px 25px;
}

/*card-block container*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}
.block-pokemon .card-block {
    background-color: var(--yellow);
    width: 143px;
    height: 160px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}
.card-block .blue-block {
    width: 125px;
    height: 146px;
    background-color: var(--denim);
    background-image: url(img/bg-pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -10px;
    position: relative;
    top: 7px;
    border-radius: 30px;
    margin: 0 auto;
}
.blue-block .img-position {
    text-align: center;
}
.img-position .pokemon-img {
    width: 110px;
    height: 100px;
    position: relative;
    top: 15px;
}
.img-position .button-style {
    border: none;
    background-color: var(--medium-gray);
    border-radius: 4px;
    padding: 2px 10px;
    color: var(--bs-body-bg);
    font-family: 'Barrio', cursive;
}

/*pagination*/
.pagination-position {
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3rem;
}
.page-item .color-link {
    color: var(--black-magic);
    background-color: var(--cylindrical-transparent);
    border-color: var(--cylindrical);
    border-radius: 4px;
    padding: 4px 15px;
}
.page-link:focus, .color-link:focus {
    color: var(--black-magic);
    box-shadow: 0 0 0 0.1rem rgb(116 105 153 / 25%);
}

@media screen and (max-width: 992px) {
    .heading-header {
        font-size: 30px;
        text-align: center;
    }
    .img-style {
        width: 150px;
    }
    input[type="text"] {
        width: 70%;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .pagination-position {
        gap: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 442px) {
    .heading-header {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {
    .heading-header {
        font-size: 24px;
    }
    .img-style {
        width: 150px;
    }
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        padding-left: 1rem;
    }
}
